.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.qrcodeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 150px;
        height: 150px;
        cursor: pointer;
    }

    .btns {
        display: flex;
        justify-content: space-around;
        margin-top: 24px;
    }
}